<div class="mood-monitor" data-user-id="<%=user.id%>" data-mood="<%=user.mood%>">
  <button type="button" class="minus">-</button>
  <div class="mood-display">
  </div>
  <button type="button" class="plus">+</button>
</div>
